<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<h1 id="productName"></h1>
<p id="productInventory"></p>
<p id="productPrice"></p>
<p id="productDescription"></p>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();

      var values = $(this).serialize();

      var posting = $.post('/products', values);

      posting.done(function(data) {
        var product = data["product"];
        $("#productName")[0].innerHTML=product["name"]
        $("#productInventory")[0].innerHTML=product["inventory"]
        $("#productPrice")[0].innerHTML="$"+product["price"]
        $("#productDescription")[0].innerHTML=product["description"]
      });
    });
  });
</script>
